nav {
  height: 4em;
}

nav a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.hn-logo {
  height: 4em;
  width: auto;
}
