.container {
  width: 80%;
  margin: auto;
}

nav {
  height: 4em;
}

nav a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.hn-logo {
  height: 4em;
  width: auto;
}

.card {
  width: 200%;
  font-size: 0.5em;
}

.card-title {
  color: black;
  font-size: 1.2em !important;
}

.collection-item {
  line-height: 2.5em !important;
}

.upvote i {
  font-size: 2.6em !important;
}

.downvote i {
  font-size: 2.6em !important;
}

.tags {
  color: grey;
  font-size: 1.2rem;
  font-weight: 400;
}

.title {
  color: black;
  font-size: 1.6rem !important;
}

.comment-section {
  width: 90%;
}

.comment-section .btn {
  margin-left: 1em;
  margin-top: -2em;
}

.comment-box {
  margin: auto;
  width: 90%;
  margin-top: -1.5em;
}

.comment-text {
  font-size: 1.65em;
  display: flex;
}

.counter-section {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 1.2em;
}

.counter-section span {
  text-align: center;
}
.counter-section i {
  font-size: 3em !important;
  color: grey;
}

.counter-section .upvote {
}

.counter-section .downvote {
}
